// about.component.scss
article {
  font-family: "Roboto", sans-serif;
  padding: 2rem 5rem 2rem 5rem;
  max-width: 85%;
  margin: 2rem 3rem auto 3rem;
  color: #333;
  background: rgba(249, 249, 249, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2,
h3,
h4 {
  color: #2a2a2a;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  border-bottom: 2px solid #999;
  padding-bottom: 0.5rem;
}

.schools,
.languages,
.frameworks,
.database-management,
.cloud-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.schools {
  margin-bottom: 2rem;
}

.uvic,
.bcit {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  h4 {
    margin-top: 0;
  }
  h4,
  p {
    color: #333;
  }
}

.schools a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.languages div,
.frameworks div,
.database-management div,
.cloud-services div {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
  width: auto;
}

.uvic,
.bcit,
.languages div,
.frameworks div,
.database-management div,
.cloud-services div {
  background: #fff;
  padding: 0.8rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 1rem;
  transition: transform 0.2s;
}

.uvic:hover,
.bcit:hover,
.languages div:hover,
.frameworks div:hover,
.database-management div:hover,
.cloud-services div:hover {
  transform: translateY(-5px);
}

.languages i,
.frameworks i,
.database-management i,
.cloud-services i {
  font-size: 2.5rem;
}

.languages a,
.frameworks a,
.database-management a,
.cloud-services a {
  text-decoration: none;
  color: inherit;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .schools,
  .languages,
  .frameworks,
  .database-management,
  .cloud-services {
    justify-content: space-around;
  }

  .uvic,
  .bcit {
    flex: 0 0 100%;
    min-width: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .languages div,
  .frameworks div,
  .database-management div,
  .cloud-services div {
    flex: 0 0 50%;
    margin-right: 0;
  }

  .languages a,
  .frameworks a,
  .database-management a,
  .cloud-services a {
    padding-right: 1rem;
  }

  .languages i,
  .frameworks i,
  .database-management i,
  .cloud-services i {
    font-size: 2rem;
  }

  article {
    padding: 2rem 2rem 2rem 2rem;
  }
}

@media (max-width: 630px) {
  .languages i,
  .frameworks i,
  .database-management i,
  .cloud-services i {
    font-size: 1.5rem;
  }

  .languages div,
  .frameworks div,
  .database-management div,
  .cloud-services div {
    padding: 0.5rem;
  }

  .languages div p,
  .frameworks div p,
  .database-management div p,
  .cloud-services div p {
    font-size: 0.6rem;
    margin-top: 0.2rem;
  }

  article {
    padding: 2rem 1rem 2rem 1rem;
  }
}
