/* blogs.component.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.main {
  height: 100%;
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: #333;
    font-size: 2em;
    font-weight: 700;
  }

  .content {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    #blogs {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      article {
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 0 0 15px 0;
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.05);
        }

        .blog-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;

          .blog-info {
            padding: 0 1rem 0 1rem;
          }

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          h2 {
            margin-top: 10px;
            font-size: 1.2em;
            font-weight: 700;
          }

          div {
            margin-top: 5px;
            font-size: 0.9em;
            color: #333;
            a,
            h2 {
              a {
                color: #333;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}

#side-nav {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  align-self: flex-start;

  article {
    margin-bottom: 5px;
  }

  .current-filter {
    background-color: #ececec;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .filter-container {
    padding-left: 2rem;
  }
}

h2,
a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .main {
    padding: 2rem;
  }

  .main .content #blogs {
    grid-template-columns: repeat(1, 1fr);

    article {
      .blog-card {
        align-items: flex-start;
      }
    }
  }
}
