body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  img {
    flex-shrink: 0;
    width: 150px;
    height: 100px;
    object-fit: cover;
  }

  div {
    margin-left: 1rem;
  }

  h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
  }

  div {
    color: #666;
  }
}

article {
  width: 100%;
  min-height: 10rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  #blogs {
    flex-grow: 1;
    margin-right: 20px;
  }

  #side-nav {
    width: 200px;
  }
}

#blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

#side-nav {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;

  article {
    margin-bottom: 15px;
  }

  .current-filter {
    background-color: #ececec;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 10px;
  }
}
