<article>
  <header>
    <button type="button" (click)="goBack()">Back</button>
  </header>
  <section class="project-card">
    <img
      *ngIf="project.image1"
      [src]="'assets/images/' + project.image1"
      alt="Image of {{ project.name }}"
    />
    <div>
      <h2>{{ project.name | uppercase }}</h2>
      <div>{{ project.excerpt }}</div>
      <div [innerHTML]="project.body">{{ project.body }}</div>
    </div>
  </section>
  <footer>
    <div *ngIf="project.languages">
      Theme: <span>{{ project.languages.name }}</span>
    </div>
  </footer>
</article>
