// projects.component.scss
section#landing-projects {
  font-family: "Roboto", sans-serif;
  padding: 2rem;
  margin: 2rem auto;
  color: #333;
  background: rgba(249, 249, 249, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  article {
    cursor: pointer;
  }

  h2 {
    margin: 2rem 1rem 1rem;
    color: #333;
    font-weight: 700;
    font-size: 1.8rem;
  }

  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }

  .project {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .project-card {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    width: 270px;
    min-height: 370px;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 1rem 0.5rem 1rem 0.5rem;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    img,
    video {
      width: 270px;
      height: 180px;
      object-fit: cover;
    }

    div {
      padding: 0.5rem;
    }

    h2 {
      color: #333;
      margin: 0.5rem 0;
      text-align: center;
    }

    p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 0;
    }

    a {
      display: block;
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

  @media (max-width: 768px) {
    #projects {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    .project-card {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 1900px) {
    .project-card {
      width: 380px;
      img,
      video {
        width: 380px;
        height: 250px;
      }
    }
  }
}
