// landing.component.scss
h1 {
  font-weight: 300;
  font-size: 8rem;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 4rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
  // margin-top: 6rem;
  margin-bottom: 0;
  font-weight: 300;
}

article {
  // padding-left: 5rem;
  // padding-right: 5rem;
  height: 100%;
  width: 100vw;
  margin: 0px;
}

.landing {
  height: 100vh;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.three-wrapper {
  display: flex;
  align-items: center;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.parallax-line {
  height: 2px;
  background: linear-gradient(to right, #f5f5f5, #000000);
  width: 0%;
  position: relative;
  top: 100%;
  left: 0;
  z-index: 2;
  transition: width 0.5s ease-out;
  animation: pulse 2s infinite ease-in-out;
}

.projects-header {
  padding-top: 5rem;
  padding-left: 5rem;
  font-weight: 500;
}

.projects-wrapper {
  padding: 5rem;
}
