<article>
  <div class="header">
    <p>Hey there! I'm</p>
    <h1>Clayton Ikuta</h1>
    <h2>Mechanical Engineer (EIT) / Software Developer</h2>
  </div>
  <!-- 
  <div class="about-me">
    <h2>About Me</h2>
    <p>Write a brief description about yourself here.</p>
  </div>

  <div class="projects">
    <h2>Projects</h2>
    <p>Describe and link to your projects here.</p>
  </div>

  <div class="contact">
    <h2>Contact Me</h2>
    <p>Provide information on how to contact you here.</p>
  </div> -->
</article>
