.webpage {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

header, main, footer {
  padding: 10px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.projects {
  flex: 2;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-right:10px;
}

.filters {
  align-self: flex-start;
  margin-left: auto;
  background-color: #f0f0f0;
  padding: 10px;
  padding-left: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: right;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  box-sizing: border-box; /* Include padding in the total element size */
}

.tags,
.category {
  font-size: 0.8rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: purple;
}
