<div class="webpage">
  <header>
    <h1 *ngIf="title">{{ title }}</h1>
  </header>
  
  <main>
    <div class="projects">
      <div *ngFor="let project of filteredProjects">
        <h2>{{ project.name }}</h2>
        <p>{{ project.excerpt }}</p>
        <p class="category" *ngIf="project.category">
          Category: 
          <a (click)="setCategoryFilter(project.category)">{{ project.category.name }}</a>
        </p>   
        <p class="tags" *ngIf="project.tags">
          Tags: 
          <span *ngFor="let tag of project.tags; let isLast=last">{{ tag.name }}<span *ngIf="!isLast">, </span></span>
        </p>
      </div>  
    </div>
    
    <div class="filters">
      <div (click)="clearCategoryFilter()">
        <span *ngIf="activeFilter"><h2>Filter</h2><a>Clear: {{ activeFilter.name }}</a></span>
      </div>
      <h2>Categories</h2>
      <div *ngFor="let category of categories" (click)="setCategoryFilter(category)">
        <a (click)="setCategoryFilter(category)">{{ category.name }}</a>
      </div>
  
      <h2>Tags</h2>
      <div *ngFor="let tag of tags">
        {{ tag.name }}
      </div>
    </div>
  </main>
  
  <footer>
    <h4 *ngIf="author"> &copy; {{ date | date:'yyyy' }} {{ author }}</h4>
  </footer>
</div>

<router-outlet />