header {
  background-color: #111;
  width: 100%;
  color: white;
}

h1 {
  display: inline-block;
  padding-left: 5rem;
  cursor: pointer;
}

main {
  box-sizing: border-box;
  display: flex;
  padding-top: 1rem;
  flex-grow: 1;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 460px;
  width: 100%;
}

footer {
  font-size: 0.8rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  align-self: flex-end;
}
