header {
  width: 100vw;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-title h1 {
  margin-left: 3rem;
  cursor: pointer;
}

.contact {
  display: flex;
  align-items: flex-end;
  margin-right: 2rem;
}

.contact a {
  margin-left: 10px;
  text-decoration: none;
}

.contact img,
.contact i {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

footer {
  font-size: 0.8rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  align-self: flex-end;
}

.end {
  display: flex;
  align-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  font-weight: 100;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav a:hover,
.nav a.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav {
  display: flex;
  align-items: flex-end;
  padding-right: 3rem;
}
