<article>
  <header>
    <button type="button" (click)="goBack()">Back</button>
  </header>
  <section class="blog-card">
    <img
      *ngIf="mediaItems.length === 1"
      [src]="'assets/images/' + mediaItems[0]"
      alt="Image of {{ blog.name }}"
    />

    <div class="gallery-image-container" *ngIf="mediaItems.length > 1">
      <div
        *ngFor="let item of mediaItems; let i = index"
        (click)="
          expandedIndex = expandedIndex === i ? null : i;
          toggleBodyClass(expandedIndex === i)
        "
        [ngClass]="{ expanded: expandedIndex === i }"
      >
        <img
          [src]="'assets/images/' + item"
          [alt]="'Image of ' + blog.name"
          class="gallery-image"
          [ngClass]="{ expanded: expandedIndex === i }"
        />
      </div>
    </div>

    <div>
      <h2>{{ blog.name | uppercase }}</h2>
      <div [innerHTML]="blog.body">{{ blog.body }}</div>
    </div>
  </section>
  <footer *ngIf="blog.category">
    Category: <span>{{ blog.category.name }}</span>
  </footer>
</article>
